<!DOCTYPE html>
<html>
    <head>
        <title>
            Speech To Text
        </title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    </head>
    <body>
        <form action="speak" method ="post">
            <h1>Press The Button to Speak<h1>
            {% for message in get_flashed_messages() %} 
            <p> {{message}} </p>
            {% endfor %}
            <br>
            <input type = "submit" value = "SPEAK" id="spk">
            <br>
        </form>
    </body>


</html>